node_modules
temp
.tmp
.sass-cache
app/bower_components
test/bower_components
package
*.psd
build
dist
app/scripts/background.js
app/scripts/chromereload.js
app/scripts/options.js
app/scripts/popup.js
*.pem
*.crx
vos.sublime-project
vos.sublime-workspace